/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  /* margin-top: 5px; */
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--repeating-linear-gradient),
      var(--repeating-linear-gradient) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--repeating-linear-gradient),
      var(--repeating-linear-gradient) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(var(--linear-gradient-first), var(--linear-gradient-second));
  background-size: cover;
  font-family: var(--main-font);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  padding-top: 136px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  margin-top: 100px;
  padding-bottom: 25px;
  font-family: var(--accent-font, monospace);
}

.wrapper {
  max-width: 700px;
  width: 100%;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  padding-left: 18px;
  padding-top: 5px;
  position: relative;
}

.header_title {
  font-size: clamp(49px, 10vw, 65px);
}

.header_paragraph {
  font-size: 23px;
  text-transform: uppercase;
}

.theme-menu__item button {
  display: flex;
  align-items: start;
  background-color: transparent;
  position: relative;
  outline: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  width: min-content;
}

.theme-menu__list button:disabled::before {
  content: "▶";
  position: absolute;
  left: -19px;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
  transition: opacity 0.3s ease;
}

.theme-menu__list button:disabled,
.theme-menu__list button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.theme-menu__item button::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -4px;
  right: 0px;
  border: 2px solid var(--accent-color);
  opacity: 0.6;
  transform: scaleX(0);
  transition: all 0.3s ease;
  transform-origin: left;
}
.theme-menu__item button:focus-visible::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -4px;
  right: 0px;
  border: 2px solid var(--accent-color);
  opacity: 0.6;
  transform: scaleX(1);
  transition: all 0.3s ease;
  transform-origin: left;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: all 0.3s ease;
}

.footer_button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: all 0.3s ease;
}

.footer_button {
  position: relative;
  box-sizing: content-box;
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-size: 14px;
  font-family: var(--accent-font);
  padding: 15px 19px;
  gap: 8px;
  text-align: left;
  box-sizing: border-box;
}

.footer_button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  right: 0px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.footer_button:hover::before {
  transform: scaleX(1);
}

.theme-menu__button {
  padding-left: 0px;
  padding-right: 0px;
}

.card {
  box-sizing: content-box;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card_list_title {
  padding: 5px;
  padding-left: 10px;
}

.card_list_title h2 {
  font-size: 18px;
  font-weight: 700;
}

.card_list_img img {
  width: 100%;
}

.img_saturate {
  filter: saturate(400%);
}

.img_blur {
  filter: blur(0.5rem);
}

.img_grayscale {
  filter: grayscale(0.8);
}

.img_invert_opacity {
  filter: invert(100%) opacity(0.8);
}

.img_rotate {
  filter: hue-rotate(30deg);
}

.img_rotate_blur_opacity {
  filter: hue-rotate(90deg) blur(0.1rem) opacity(0.8);
}

.img_sepia {
  filter: sepia(100%);
}

.img_layout {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
}

.card_list_text_inside_img {
  position: absolute;
  font-family: var(--accent-font);
  top: 25px;
  right: 25px;
  -webkit-text-stroke: 1px var(--bg-color);
  opacity: 0.5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}

svg {
  width: 39px;
  height: 39px;
}

.card__icon-button:focus {
  outline: 1px solid transparent;
}

.card__icon-button:focus-visible::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39px;
  height: 37px;
  border: 2px solid var(--accent-color);
  transition: all 0.3s ease;
}

.card_list_img {
  background-image: url("../images/img1.png");
  background-position: 98%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100%;
}

.card_list_text_container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 24px;
  padding-right: 26px;
  font-size: 18px;
  line-height: 21px;
  gap: 27px;
}

.card_list_text {
  max-width: 646px;
}

.card_list_btns_container {
  display: flex;
  justify-content: right;
  /* padding-top: 26px; */
  padding-top: 25px;
  padding-right: 24px;
  margin-bottom: 24px;
}

.card__icon-button {
  height: 38px;
  padding: 0;
  position: relative;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid transparent;
}

.card__like-button {
  position: relative;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  width: 130px;
  padding: 9px 17px;
}

.card__like-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  right: 0px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

span {
  position: relative;
  z-index: 10;
  color: var(--difference-color);
  mix-blend-mode: difference;
}

.section_second {
  padding-top: 50px;
}

.footer_icon {
  width: 21px;
  height: 21px;
}

dialog {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0;
  width: 357px;
  height: 193px;
  border: 2px solid var(--accent-color, #000);
  background: var(--bg-color, #fff);
  padding: 0;
}

a {
  outline: 1px solid transparent;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog_textcontent_container {
  display: flex;
  gap: 20px;
}

.dialog_icon {
  color: var(--accent-color);
  width: 39px;
  height: 39px;
  margin-top: 45px;
  margin-left: 31px;
}

.dialog_text {
  max-width: 234px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--accent-font);
  margin-top: 31px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.dialog_button_container {
  padding: 30px 31px 0;
}

.dialog_button {
  text-transform: uppercase;
  width: 293px;
  height: 38px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

.sparks {
  opacity: 0;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--core-color);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--main-body-color);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: red;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: red;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart path {
  animation: heart 0.3s 1 ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 1 ease-in;
  animation-delay: 0.3s;
}

.max-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heart {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

@keyframes arrow {
  0% {
    left: -19px;
  }
  100% {
    left: -23px;
  }
}

@media (width <= 375px) {
  .header {
    padding-top: 120px;
  }

  .header_paragraph {
    font-size: 14px;
  }

  .footer_button {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
  }

  .footer_icon {
    width: 28px;
    height: 28px;
  }
}
