/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: 
  repeating-linear-gradient(to right, var(--repeating-linear-gradient), var(--repeating-linear-gradient) 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(to bottom, var(--repeating-linear-gradient), var(--repeating-linear-gradient) 2px, transparent 2px, transparent 4px),
  linear-gradient(var(--linear-gradient-first), var(--linear-gradient-second));
  background-size: cover;
  font-family: var(--main-font, monospace);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 113px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  margin-top: 100px;
  width: 36.4vw;
  height: 37vh;
  font-family: var(--accent-font, monospace);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 18px;
}

.header_title {
  font-size: 65px;
}

.header_paragraph {
  font-size: 23px;
  text-transform: uppercase;
}

.theme-menu__item button {
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__list button:disabled::before {
  content: "▶"
}

.card {
  /* width: 36.3vw; */
  min-height: 96.5vh;
  height: 100%;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card_list_item {
  width: 36.5%;
}

.card_list_title {
  min-height: 30px;
  padding-top: 5px;
  padding-left: 10px;
  
}

.card_list_title h2 {
  font-size: 18px;
  font-weight: 900;
}

.card_list_img {
  width: 100%;
  height: 75%;
  background-repeat: no-repeat;
  background-size: 36.3vw 70.4vh;
}

.card_list_img img {
  width: inherit;
}

/* .card_list_img_first {
  background-image: url('../images/image1.png');
}

.card_list_img_second {
  background-image: url('../images/image2.png');
}

.card_list_img_third {
  background-image: url('../images/image3.png');
}

.card_list_img_fourth {
  background-image: url('../images/image4.png');
}

.card_list_img_fifth {
  background-image: url('../images/image5.png');
}

.card_list_img_sixth {
  background-image: url('../images/image6.png');
}

.card_list_img_seventh {
  background-image: url('../images/image7.png');
}

.card_list_img_eighth {
  background-image: url('../images/image8.png');
} */


.card_list_text_container {
  display: flex;
  flex-direction: column;
  /* width: 646px; */
  padding-top: 25px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 21px; 
  gap: 27px;
}

/* .card_list_text {
  
} */

.card_list_btns_container {
  display: flex;
  justify-content: right;
  padding-top: 25px;
  padding-right: 23px;
  margin-bottom: 17px;
}

.card__icon-button {
  background-color: transparent;
  border: 1px solid transparent;
}

.card__like-button {
  background-color: transparent;
  outline: none;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  width: 130px;
  height: 38px;
}

.footer_button_container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  /* flex-direction: row; */
  /* justify-content: stretch; */
  width: 335px;
  height: 50px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color)
}

.footer_icon {
  padding-top: 10px;
  padding-left: 20px;
}

.footer_button {
  font-size: 14px;
  background-color: transparent;
  border: 2px solid transparent;
  font-family: var(--accent-font)
}
