/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --main-body-color: #000;
  --core-color: #000;
  --sparks-color: red;
  --difference-color: #fff;
  --repeating-linear-gradient: #d3d3d3;
  --linear-gradient-main: #e7e7e7;
  --linear-gradient-accent: #1a1a1a;
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P-Regular";
}
